
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    background-color:white;
    width:72px;
    z-index: 200;
    padding-top: 5px;
    
}
.sidebar-link{
    background-color: white;
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;

}

.sidebar img{
    height: 24px;
    margin-bottom: 4px;

}

.sidebar-link div{
    font-size: 10px;

}

@media (max-width:1300px){
    .sidebar{
        position: fixed;
        left: 0;
        bottom: 0;
        top:55px;
        background-color:white;
        width:72px;
        z-index: 200;
        padding-top: 5px;
        
    }
    .sidebar-link{
        background-color: white;
        height: 74px;
        margin-bottom: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .sidebar-link:hover{
        background-color: rgb(236, 236, 236);
        cursor: pointer;
    
    }
    
    .sidebar img{
        height: 24px;
        margin-bottom: 4px;
    
    }
    
    .sidebar-link div{
        font-size: 10px;
    
    }
}

@media (min-width:1301px){
    .sidebar{
        position: fixed;
        left: 0;
        bottom: 0;
        top:55px;
        background-color:white;
        width:200px;
        z-index: 200;
        padding-top: 12px;
        
    } 

    .sidebar-link{
        background-color: white;
        height: 54px;
        margin-bottom: 1px;
        padding-left: 30px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
    }
    
    .sidebar-link:hover{
        background-color: rgb(236, 236, 236);
        cursor: pointer;
    
    }
    
    .sidebar img{
        height: 24px;
        margin-bottom: 0px;
    
    }
    
    .sidebar-link div{
        font-size: 14px;
        padding-left: 10px;
    
    }
}